<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Seelnium.testnp.Checkbox"/>
      <class name="MyTestNp.NewTest"/>
      <class name="Seelnium.testnp.MultiDropdown"/>
      <class name="Seelnium.testnp.Tablehandle"/>
      <class name="Seelnium.testnp.Practisedemo"/>
      <class name="Seelnium.testnp.Explicitwait"/>
      <class name="Seelnium.testnp.BrowseNavigation"/>
      <class name="Seelnium.testnp.ActionClasDemo"/>
      <class name="Seelnium.testnp.Frame"/>
      <class name="Seelnium.testnp.Javacripttpopup"/>
      <class name="MyTestNp.NewTest1"/>
      <class name="Seelnium.testnp.Windowpopup"/>
      <class name="WebApplication.LoginPage"/>
      <class name="MyTestNp.javascriptexecutorDemo"/>
      <class name="WebApplication.AmazonSignIn"/>
      <class name="Seelnium.testnp.ImplicitwaitDemo"/>
      <class name="MyTestNp.AnnotationofTestn"/>
      <class name="Seelnium.testnp.WaitsDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
